<form 
class="form-horizontal" 
autocomplete="off" 
#createBookCategoryModal="ngForm" 
(ngSubmit)="save()">
    <abp-modal-header 
    [title]="'Create Book Category Information' | localize" 
    (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="bookCategoryName">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input 
                type="text" 
                class="form-control" 
                name="bookCategoryName" 
                id="bookCategoryName" 
                required                 
                [(ngModel)]="bookcategory.name" 
                #bookCategoryNameModel="ngModel" 
                #bookCategoryNameEl />
                <abp-validation-summary 
                [control]="bookCategoryNameModel" 
                [controlEl]="bookCategoryNameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="departmentName">
                {{ "Department" | localize }}
            </label>
            <div class="col-md-9">
                <select 
                class="form-control"
                name="departmentName"
                id="departmentName"
                required            
                [ngModel]="selectedDepartment"     
                (ngModelChange)="selectedDepartment=$event"          
                >
                <option *ngFor="let department of departments"
                [ngValue]="department.id">{{department.name}}</option>
                </select>
            </div>            
        </div>        
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createBookCategoryModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>