<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h1><strong>{{ "Departments" | localize }}</strong></h1>
                            <p>Dahsboard</p>
                            <div class="icon">
                                <i class="fa fa-university"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h1><strong>{{ totalItems }}</strong></h1>
                            <p>Total Count</p>
                            <div class="icon">
                                <i class="fa fa-line-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a 
                    href="javascript:;" 
                    class="btn bg-blue" 
                    (click)="createDepartment()">
                        <i class="fa fa-plus-square"></i>
                        {{ "Create" | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button 
                                    type="button" 
                                    class="btn bg-blue" 
                                    (click)="getDataPage(1)">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input 
                                type="text" 
                                class="form-control" 
                                name="keyword"                                    
                                [placeholder]="'SearchWithThreeDot' | localize" 
                                [(ngModel)]="keyword"
                                (keyup.enter)="getDataPage(1)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table 
                        class="table table-striped table-bordered" 
                        [busy]="isTableLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th>{{ "Id" | localize }}</th>
                                    <th>{{ "Department Name" | localize }}</th>
                                    <th style="width: 310px;">{{ "Actions" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let department of departments | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                }  ">
                                    <td>{{ department.id }}</td>
                                    <td>{{ department.name }}</td>
                                    <td>
                                        <button 
                                        type="button" 
                                        class="btn btn-sm bg-secondary"
                                        (click)="editDepartment(department.id)">
                                            <i class="fas fa-pencil-alt"></i>
                                            {{ "Edit" | localize }}
                                        </button>
                                        <button 
                                        type="button" 
                                        class="btn btn-sm bg-danger mx-2"
                                        (click)="delete(department)">
                                            <i class="fas fa-trash"></i>
                                            {{ "Delete" | localize }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
            <div class="row">
                <div class="col-sm-6 col-12 text-sm-left text-center">
                    <button 
                    class="btn btn-secondary" 
                    (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="float-sm-right m-auto">
                        <abp-pagination-controls 
                        id="server" 
                        (pageChange)="getDataPage($event)">
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>