<form
  class="form-horizontal"
  autocomplete="off"
  #createDepartmentModal="ngForm"
  (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewDepartment' | localize" 
  (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="departmentName">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="departmentName"
              id="departmentName"
              required
              [(ngModel)]="department.name"
              #departmentNameModel="ngModel"
              #departmentNameEl
            />
            <abp-validation-summary
              [control]="departmentNameModel"
              [controlEl]="departmentNameEl"
            ></abp-validation-summary>
          </div>
        </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createDepartmentModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
  