<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{"Borrowers" | localize}}</h1>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:;" 
                    class="btn bg-blue" 
                    (click)="createBorrower()">
                        <i class="fa fa-plus-square"></i>
                        {{"Create" | localize}}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="table-responsive">
                        <table class="table table-bordered" [busy]="isTableLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th>{{ "Id" | localize }}</th>
                                    <th>{{ "Borrow Date" | localize }}</th>
                                    <th>{{ "Expected Return Date" | localize }}</th>
                                    <th>{{ "Return Date" | localize }}</th>
                                    <th>{{ "Book Title" | localize }}</th>
                                    <th>{{ "Student Name" | localize }}</th>
                                    <th>{{ "Remarks" | localize }}</th>
                                    <th style="width: 310px;">{{ "Actions" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let borrower of borrowers | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                }  ">
                                    <td>{{ borrower.id }}</td>
                                    <td>{{ borrower.borrowDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{ borrower.expectedReturnDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{ borrower.returnDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{ borrower.book?.bookTitle }}</td>
                                    <td>{{ borrower.student?.studentName }}</td>
                                    <td *ngIf="!borrower.book?.isBorrowed; else IsBorrowed">Returned</td>
                                    <ng-template #IsBorrowed>
                                        <td>Borrowed</td>
                                    </ng-template>
                                    <td>
                                        <button type="button" 
                                        class="btn btn-sm bg-secondary"
                                        [disabled]="!borrower.book?.isBorrowed"
                                            (click)="editBorrower(borrower.id)">
                                            <i class="fas fa-pencil-alt"></i>
                                            {{ "Edit" | localize }}
                                        </button>
                                        <button type="button" 
                                        class="btn btn-sm bg-danger mx-2"
                                        [disabled]="!borrower.book?.isBorrowed" 
                                            (click)="delete(borrower)">
                                            <i class="fas fa-trash"></i>
                                            {{ "Delete" | localize }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
            <div class="row">
                <div class="col-sm-4 col-12 text-sm-left text-center">
                    <button class="btn btn-secondary" (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div class="col-sm-4 col-12 text-center">
                    <p class="mb-0 my-2">
                        {{ "TotalRecordsCount" | localize: totalItems }}
                    </p>
                </div>
                <div class="col-sm-4 col-12">
                    <div class="float-sm-right m-auto">
                        <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>