<form class="form-horizontal" 
autocomplete="off" 
#createStudentModal="ngForm" 
(ngSubmit)="save()">
    <abp-modal-header [title]="'Create New Student Information' | localize" 
    (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="studentName">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" 
                class="form-control" 
                name="studentName" 
                id="studentName" 
                required 
                maxlength="32"                    
                [(ngModel)]="student.studentName" 
                #nameModel="ngModel" 
                #nameEl />
                <abp-validation-summary 
                [control]="nameModel" 
                [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="studentContactNumber">
                {{ "Contact Number" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" 
                class="form-control" 
                name="studentContactNumber" 
                id="studentContactNumber" 
                required 
                maxlength="32"                    
                [(ngModel)]="student.studentContactNumber" 
                #nameModel="ngModel" 
                #nameEl />
                <abp-validation-summary 
                [control]="nameModel" 
                [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="studentEmail">
                {{ "Email Address" | localize }}
            </label>
            <div class="col-md-9">
                <input type="email" 
                class="form-control" 
                name="studentEmail" 
                id="studentEmail" 
                required 
                maxlength="32"                    
                [(ngModel)]="student.studentEmail" 
                #nameModel="ngModel" 
                #nameEl />
                <abp-validation-summary 
                [control]="nameModel" 
                [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="studentEmail">
                {{ "Department" | localize }}
            </label>
            <div class="col-md-9">
                <select 
                class="form-control"
                name="department"
                id="department"
                required            
                [ngModel]="selectedDepartment"     
                (ngModelChange)="selectedDepartment = $event.target.value"           
                >
                <option *ngFor="let department of departments"
                [ngValue]="department.id">{{department.name}}</option>
                </select>
            </div>            
        </div>        
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createStudentModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>